<div id="nav">
	<div class="wrapper">
		<div id="logo"><a href="/"><img src="/image/logo.png" /></a></h1></div>
		<ul>
			<li id="category-tech"><a href="/category/tech.html">Tech</a></li>
			<li id="category-reading"><a href="/category/reading.html">Reading</a></li>
		</ul>
	</div>
</div>

<script>
var category = location.pathname;
if (category == '/') {
	// document.getElementById('category-all').style.textDecoration = "underline";
} else if (category == '/category/tech.html') {
	document.getElementById('category-tech').style.textDecoration = "underline";
} else if (category == '/category/reading.html') {
	document.getElementById('category-reading').style.textDecoration = "underline";
}

</script>
